@use '@/styles/global.scss' as v ;

.menuContainer {
  display: flex;
  gap: 1rem;
  > button {
    @include v.flexCenter;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 1rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 500;
    color: #818181;
    cursor: pointer;
    gap: 2px;
    padding: 0 1rem;
  }
}

.arrowIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 2px;
  margin-left: 1px;
}
