.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  background-color: #EEE;
  color: #818181;
  width: 25rem;
  height: 3.35rem;
  border-radius: 1.25rem;
  cursor: pointer;
}

.active-background {
  background-color: #99C08E;
  color: #FFF;

  font-weight: 700;
  font-size: 1rem;
}


.active-background {
  background-color: #99C08E;
}

.trashBtn {
  width: 3rem;
  height: 3rem;

  position: absolute;
  transform: translatex(500%);
}