@use '@/styles/global.scss' as *;

.todoItem {
  @include flexCenter;
  width: 25rem;
  height: 3.35rem;
  margin-bottom: 1rem;
  background-color: #EEE;
  color: #818181;
  border-radius: 1.25rem;
  cursor: pointer;
  font-weight: 700;
}

.activeBackground {
  background-color: #99C08E;
  color: #FFF;
  font-weight: 700;
  font-size: 1rem;
}


.activeBackground {
  background-color: #99C08E;
}

.trashBtn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translatex(500%);
}

.itemInner {
  @include flexCenter;
}

@include mobile {
  .todoItem {
    width: 14rem;
  }

  .trashBtn {
    transform: translateX(430%);
    width: 2rem;
    height: 2rem;
  }
}