@use '../../styles/global.scss' as *;

.todo-item {
  @include flexCenter;
  margin-bottom: 1rem;

  background-color: #EEE;
  color: #818181;
  width: 25rem;
  height: 3.35rem;
  border-radius: 1.25rem;
  cursor: pointer;
  font-weight: 700;
}

.active-background {
  background-color: #99C08E;
  color: #FFF;

  font-weight: 700;
  font-size: 1rem;
}


.active-background {
  background-color: #99C08E;
}

.trash_btn {
  width: 3rem;
  height: 3rem;

  position: absolute;
  transform: translatex(500%);
}

.item_inner {
  @include flexCenter;

}

@include mobile {
  .todo-item {
    width: 14rem;
  }

  .trash_btn {
    transform: translateX(430%);

    width: 2rem;
    height: 2rem;
  }
}