@use '@/styles/global.scss' as *;

.mainContainer {
  padding: 2rem 13.7rem;
  margin-left: 1rem;
}

.appContainer {
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 2.5rem;
  min-width: 800px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.title {
  text-align: center;
  color: #343a40;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 800;
  white-space: nowrap;
}

.timeContainer {
  color: #868e96;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    border: solid 1px #ddd;
    border-radius: 1rem;
    width: 12rem;
    background-color: #fff;
    padding: 10px;
    white-space: nowrap;
    color: #000;
  }
}

.menuContainer {
  display: flex;
  gap: 1rem;
  white-space: nowrap;

  button {
    @include flexCenter;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 1rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 500;
    color: #818181;
    cursor: pointer;
    gap: 2px;
    padding: 0 1rem;
  }
}

.arrowIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 2px;
  margin-left: 1px;
}

.listSection {
  @include flexCenter;
  margin-top: 20px;
  flex-direction: column;
}


.listTitleSection {
  @include flexCenter;
  position: relative;
  flex-direction: column;
  gap: 30px;

  h2 {
    font-weight: 800;
    font-size: 1.5rem;
    white-space: nowrap;
  }

  button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    color: #878787;
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    white-space: nowrap;
  }
}

.todoList {
  text-decoration: none;
  list-style: none;
}

.listWrapper {
  position: relative;
}


@include tablet {
  .mainContainer {
    padding: 30px;
  }

  .appContainer {
    min-width: 20px;
  }

  .listSection {
    margin-top: 0;
  }
}

@include mobile {
  .mainContainer {
    padding: 1px;
    margin: 0;
  }

  .headerContainer {
    align-items: start;
  }

  .title {
    font-size: 24px;
  }

  .headerContainer {
    flex-direction: column;
  }

  .menuContainer {
    button {
      font-size: 14px;
      padding: 8px 12px;
    }
  }

  .timeContainer {
    margin-bottom: 0;
  }

  .appContainer {
    padding: 2rem 1.5rem;
  }

  .listSection {
    margin-top: 0;
  }
}


.todo_list {
  text-decoration: none;
}