@use '../../styles/global.scss' as *;

.main_container {
  padding: 2rem 13.7rem;
  margin-left: 1rem;
}


.app_container {
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 2.5rem;

  min-width: 800px;

}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.title {
  text-align: center;
  color: #343a40;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 800;

  white-space: nowrap;
}

.time_container {
  color: #868e96;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    border: solid 1px #ddd;
    border-radius: 1rem;
    width: 12rem;
    background-color: #fff;
    padding: 10px;
    white-space: nowrap;

    color: #000;
  }
}

.menu_container {
  display: flex;
  gap: 1rem;

  white-space: nowrap;


  button {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 1rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 500;
    color: #818181;

    cursor: pointer;

    @include flexCenter;
    gap: 2px;
    padding: 0 1rem;
  }

}

.arrow_icon {
  width: 1.5rem;
  height: 1.5rem;

  margin-bottom: 2px;
  margin-left: 1px;
}




.list_section {
  margin-top: 20px;
  flex-direction: column;
  @include flexCenter;
}

.Panel {
  .panel {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: white;
    border-radius: 1.25rem;

    margin-top: 20px;
    border: solid 1px #DDD;

    padding: 2.5rem 10rem;

  }
}

.list_title_section {
  @include flexCenter;
  position: relative;
  flex-direction: column;

  gap: 30px;

  h2 {
    font-weight: 800;
    font-size: 1.5rem;

    white-space: nowrap;
  }

  button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    color: #878787;
    font-size: 0.9rem;
    text-decoration: none;

    cursor: pointer;
    border: none;
    background-color: transparent;

    white-space: nowrap;
  }
}


.todo_list {
  text-decoration: none;
  list-style: none;
}


.list_wrapper {
  position: relative;
}


@include tablet {
  .main_container {
    padding: 30px;
  }


  .app_container {
    min-width: 20px;
  }

  .list_section {
    margin-top: 0;
  }

}




@include mobile {
  .main_container {
    padding: 20px;
  }

  .title {
    font-size: 24px;
    margin-right: 170px;
  }

  .header_container {
    flex-direction: column;
  }

  .menu_container {
    padding: 8px 12px;
    margin-right: 130px;

    button {
      font-size: 14px;
      padding: 8px 12px;
    }
  }

  .app_container {
    min-width: 10px;
  }

  .list_section {
    margin-top: 0;
  }
}