@use "./reset" as *;


@font-face {
  font-family: "JejuStoneWall";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$Cbg: #f6f4ef;
$Cborder: #e5e5e5;
$Ctext: #414141;
$Csubtext: #818181;
$Cbtn: #99c08e;

$FFbase: "Pretendard", sans-serif;
$FFbtn: "JejuStoneWall", sans-serif;

$FSbase: 1rem;
$FSsubtext: 0.875rem;
$FSsubtitle: 1.125rem;
$FStitle: 1.5rem;
$FSicon: 0.75rem;

$FWsubtext: 400;
$FWbase: 600;
$FWtitle: 800;

$breakpoint-mobile: 430px;
$breakpoint-tablet-start: 375px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin flexSort($justify, $alignItems) {
  display: flex;
  justify-content: $justify;
  align-items: $alignItems;
}

@mixin flexDirection($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin fonts($size, $weight, $color) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

body {
  background-color: $Cbg;
}

a {
  text-decoration: none;
}


button {
  @include flexCenter;
  cursor: pointer;
  border-radius: 1rem;
}

img {
  max-width: 100%;
}