* {
  box-sizing: border-box;
}


body {
  font-family: san-serif, 'Pretendard';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F4EF;
  color: #333;
  margin: 0;
  padding: 20px;
}