@use '@/styles/global.scss' as *;

nav {
    display: flex;
    padding: 2rem 13.7rem;
    margin-left: 1rem;
}

.create{
    @include designedBtn;
    width: 15.75rem;
    height: 3.625rem;
    padding: 0.625rem;
}

    @include tablet {
    .logoSpace {
        padding: 2rem 5rem;
    }
    }

    @include mobile {
    .logoSpace {
        padding: 1rem 2rem;
    }
    }