@use '@/styles/global.scss' as *;

nav {
    @include flexSort(space-between, center);
        padding: 1.5rem 1.25rem;
}


.create{
    @include designedBtn;
    width: 15.75rem;
    height: 3.625rem;
    padding: 0.625rem;
}

    @include tablet {
    .logoSpace {
        padding: 2rem 5rem;
    }
    .create {
        width: 10rem;        
    }
    }

    @include mobile {
    .logoSpace {
        padding: 1rem 2rem;
    }
    .create{
        width: 6.25rem;
    }
    }