.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 1rem;
  max-width: 80%;
  margin: 1.25rem auto;
}
