@use '../../styles/main.scss' as *;

.listSection {
  padding: 20px;
}

.listSection>h2 {
  font-weight: 800;
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.cancelBtn {
  cursor: pointer;
  color: #fff;
  font-family: 'JejuStoneWall';
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  border-radius: 1rem;
  background: #DDD;
  border: none;
  text-shadow: -0.5px -2px #818181;

  width: 18rem;
  height: 3.6rem;

  font-size: 1.1rem;
}

.modifyBtn {
  cursor: pointer;
  color: #fff;
  font-family: 'JejuStoneWall';
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  border-radius: 1rem;
  background: #99C08E;
  border: none;
  text-shadow: -0.5px -2px #578246;

  width: 18rem;
  height: 3.6rem;

  font-size: 1.1rem;
}

.todoList {
  @include flexCenter;
  flex-direction: column;
}

.modalBtnWrapper {
  @include flexCenter;
}