@use '../../styles/main.scss' as *;

.list_section {
  padding: 20px;
}

.list_section>h2 {
  font-weight: 800;
  font-size: 1.5rem;

  @include flexCenter;
  margin-bottom: 2rem;
}

.cancel_btn {
  cursor: pointer;
  color: #fff;
  font-family: 'JejuStoneWall';
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  border-radius: 1rem;
  background: #DDD;
  border: none;
  text-shadow: -0.5px -2px #818181;

  width: 18rem;
  height: 3.6rem;

  font-size: 1.1rem;
}

.modify_btn {
  cursor: pointer;
  color: #fff;
  font-family: 'JejuStoneWall';
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  border-radius: 1rem;
  background: #99C08E;
  border: none;
  text-shadow: -0.5px -2px #578246;

  width: 18rem;
  height: 3.6rem;

  font-size: 1.1rem;
}

.underline_list {
  @include flexCenter;
  flex-direction: column;
  text-decoration: underline #818181;
}



.underline_list {
  text-decoration: underline #818181;
}



.modal_btn_wrapper {
  @include flexCenter;
  gap: 5px;
}

.frame_btn_wrapper {
  @include flexCenter;
  margin-bottom: 10px;
}

.frame_btn {
  width: 25rem;
  height: 3.35rem;

  cursor: pointer;
}

.input_btn {
  border: 2px solid #578246;
  outline: none;
  @include flexCenter;
  margin-bottom: 1rem;

  background-color: #fff;
  color: #818181;
  width: 25rem;
  height: 3.35rem;
  border-radius: 1.25rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;

}