@use '../../styles/global.scss' as *;

.list_section {
  padding: 20px;
}

.list_section>h2 {
  font-weight: 800;
  font-size: 1.5rem;

  @include flexCenter;
  margin-bottom: 2rem;
}

.cancel_btn {
  cursor: pointer;
  color: #fff;
  font-family: 'JejuStoneWall';
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  border-radius: 1rem;
  background: #DDD;
  border: none;
  text-shadow: -0.5px -2px #818181;

  width: 7rem;
  height: 3.6rem;

  font-size: 1.1rem;

}

.modify_btn {
  cursor: pointer;
  color: #fff;
  font-family: 'JejuStoneWall';
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  border-radius: 1rem;
  background: #99C08E;
  border: none;
  text-shadow: -0.5px -2px #578246;

  width: 18.5rem;
  height: 3.6rem;

  font-size: 1.1rem;
}

.underline_list {
  @include flexCenter;
  flex-direction: column;
  text-decoration: underline #818181;
}



.underline_list {
  text-decoration: underline #818181;

}



.modal_btn_wrapper {
  @include flexCenter;
  margin: 1rem 0;
  gap: 5px;
}

.frame_btn_wrapper {
  @include flexCenter;
  margin-bottom: 10px;
}

.frame_btn {
  width: 25rem;
  height: 3.35rem;
  border-radius: 1.25rem;
  font-weight: 700;
  font-size: 20px;

  background-color: #fff;

  cursor: pointer;
}

.input_btn {
  border: 2px solid #578246;
  outline: none;
  @include flexCenter;
  margin-bottom: 1rem;

  background-color: #fff;
  color: #818181;
  width: 25rem;
  height: 3.35rem;
  border-radius: 1.25rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;

}

@include tablet {
  .list_section {
    padding: 2.5rem 4rem;

  }


  .modify_btn {
    width: 18rem;
  }
}

@include mobile {
  .list_section {
    padding: 2.5rem 1rem;
  }

  .cancel_btn {
    width: 4rem;
  }

  .modify_btn {
    width: 10rem;
  }

  .frame_btn,
  .input_btn {
    width: 14rem;
    margin-right: 30px;
  }

  .underline_list {
    align-items: start;
    margin-right: 30px;
  }

  .modal_btn_wrapper {
    margin-right: 30px;
  }

}