@use '@/styles/global.scss' as v;


.container {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
}

.title {
        @include v.fonts(v.$FStitle, v.$FWtitle, v.$Ctext);
    }

.daysContainer{
    text-align: center;
    @include v.fonts(v.$FSsubtitle, v.$FWsubtext,v.$Csubtext);
        & .day{
            width: 7.375rem;
            line-height: 1.625rem;
        }
    }
    
    .habit {
        text-align: right;
        justify-items: center;
        @include v.fonts(v.$FSsubtitle, v.$FWsubtitle,v.$Ctext);
        & th{
            display: flex;
            justify-content: center;
            width: 15.375rem;
            height: 4rem;
            padding: 0 1.5rem;
            gap: 0.625rem;
            flex-shrink: 0;
        }
        
    }

    .tracker{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-items: center;
    }

    .cell {
        padding: 0.875rem 2.5625rem;
        justify-content: center;
        align-items: center;
    }

