.card {
  width: 100%;
  height: 243px;
  padding: 1.8rem;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  }

  h3,
  p {
    margin: 0;
    color: #333;
    line-height: 1.4;
  }

  h3 {
    margin: 0.4rem 0;
    font-size: 1.1rem;
    font-weight: 700;
  }

  p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.6rem;
  }

  @media (max-width: 768px) {
    height: auto;
    padding: 1.4rem;

    h3 {
      font-size: 1rem;
    }

    p {
      font-size: 0.85rem;
    }
  }
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
  font-size: 0.8rem;

  @media (max-width: 768px) {
    font-size: 0.75rem;
  }
}

.pointTag {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  background: rgba(255, 255, 255, 0.3);
  padding: 0.2rem 0.6rem;

  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;

  img {
    width: 15px;
    height: 15px;
  }
}

.days {
  font-size: 0.9rem;
  color: #666;
  margin: 0.3rem 0 0.4rem 0;
}

.description p {
  font-size: 0.95rem;
  color: #222;
  margin-bottom: 1.2rem;
  line-height: 1.45;
  padding-top: 0.8125rem;
}

.reactions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
  margin-top: auto;
}

.reactionBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  border-radius: 12px;
  max-width: 55px;
  height: 24px;

  font-family: Pretendard;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;

  cursor: pointer;
  transition:
    background 0.15s ease,
    transform 0.1s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  &:hover {
    background-color: #464646;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  @media (max-width: 768px) {
    font-size: 0.65rem;
    padding: 0.15rem 0.45rem;
    min-width: 45px;
    height: 22px;
  }
}

.green {
  background-color: #e6f0e2;
}
.yellow {
  background-color: #f6eec8;
}
.blue {
  background-color: #e6f3f9;
}
