@use "../../../styles/global.scss" as *;

.wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: #fff;
  justify-content: center;
  flex-grow: 1;
  border-radius: 1rem;
  border: 0.125rem solid #dddddd;
}

.timerTitle {
  font-family: Pretendard;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
}

.timer {
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  gap: 1.5rem;
}

.stopWatch {
  .timeDisplay {
    font-family: Pretendard;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 9.375rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}

.timeInput {
  font-family: Pretendard;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 9.375rem;
  width: 100%;
  text-align: center;
}

.buttonWrapper {
  @include flexCenter;
  gap: 0.75rem;
  width: 100%;
}

.button {
  @include flexCenter;
  gap: 0.5rem;
  padding: 1rem 3rem;
  &:disabled {
    background-color: #818181;
    color: #fff;
    cursor: not-allowed;
  }
}

.pauseButton,
.resetButton {
  background: none;
  border: none;
  padding: 0;
  img {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.pauseMessage {
  display: flex;
  height: 2.9375rem;
  width: 13.9375rem;
  background-color: #fde0e9;
  align-items: center;
  border-radius: 1rem;
  justify-content: center;
  color: #f50e0e;
  font-weight: 500;
}
.finishMessage {
  display: flex;
  height: 2.9375rem;
  width: 13.9375rem;
  background-color: #e1edde;
  align-items: center;
  border-radius: 1rem;
  justify-content: center;
  color: #578246;
  font-weight: 500;
}

@media (max-width: 48rem) {
  .timeInput,
  .timeDisplay {
    font-size: 5rem;
  }
}

@media (min-width: 48rem) and (max-width: 64rem) {
  .timeInput,
  .timeDisplay {
    font-size: 7.5rem;
  }
}
