@use "@/styles/global.scss" as *;

.studyBox {
  width: 100%;
  @include flexSort(space-between, center);
  .studyTitle {
    font-size: 2rem;
    font-weight: $FWtitle;
    color: $Ctext;
  }
  .linkButtons {
    display: flex;
    gap: 1rem;
    .linkButton {
      @include flexCenter;
      padding: 1rem;
      height: 3rem;
      border-radius: 1rem;
      border: 0.0625rem solid $Cborder;
      color: $Csubtext;
      font-weight: 500;
      background-color: #fff;
      text-decoration: none;
      &:hover {
        background-color: $Csubtext;
        color: #fff;
      }
    }
  }
}
.pointSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  .gainPoint {
    @include fonts($FSsubtitle, $FWsubtext, $Csubtext);
  }
  .pointBox {
    @include flexCenter;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 0.0625rem solid $Csubtext;
  }
}

@include mobile {
  .studyBox {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .pointSection {
    align-items: flex-start;
  }
}
