@use './styles/main.scss' as *;

.main_container {
  padding: 2rem 13.7rem;
  margin-left: 1rem;
}

@include mobile {
  .main_container {
    padding: 2rem 5rem;
  }
}

.app_container {
  margin: 40px auto;
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 2.5rem;

}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.title {
  text-align: center;
  color: #343a40;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 800;

  white-space: nowrap;
}

.time_container {
  color: #868e96;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    border: solid 1px #ddd;
    border-radius: 1rem;
    width: 12rem;
    background-color: #fff;
    padding: 10px;
    white-space: nowrap;

    color: #000;
  }
}

.menu_container {
  display: flex;
  gap: 1rem;

  white-space: nowrap;


  button {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 1rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 500;
    color: #818181;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 0 1rem;
  }

}

.arrow_icon {
  width: 1.5rem;
  height: 1.5rem;

  margin-bottom: 2px;
  margin-left: 1px;
}




.list_section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Panel {
  .panel {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: white;
    border-radius: 1.25rem;

    margin-top: 20px;
    border: solid 1px #DDD;

    padding: 2.5rem 10rem;

  }
}

.list_title_section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h2 {
    font-weight: 800;
    font-size: 1.5rem;
  }

  button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    color: #878787;
    font-size: 0.9rem;
    text-decoration: none;

    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}