.container{
    color: #FFF;
    display: flex;
    padding: 0.75rem;
    gap: 0.625rem;
    border-radius: 0.9375rem;
    border: 1px solid var(--gray-gray_DDDDDD, #DDD);
    background: #FFF;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
    
}

.recentEmojis{
    display: flex;
    align-items: center;
    gap: 0.3125rem;
}

.ableContainer{
    border-radius: 3.125rem;
    background: rgba(0, 0, 0, 0.30);
    display: flex;
    padding: 0.375rem 0.5rem;
    align-items: center;
    gap: 0.3125rem;
    border: none;
    color: #FFF;
    font-family: 'Pretendard';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.emojiTag{

    color: #FFF;
    border-radius: 3.125rem;
    background: rgba(0, 0, 0, 0.50);
    padding: 0.375rem 0.5rem;
    align-items: center;
    gap: 0.3125rem;
}