@use '@/styles/global.scss' as v ;

.wrap {
    @include v.flexCenter;
    gap: 0.625rem;

    & form{    
        border-radius: 1.25rem;
        background: #FFF;
        padding: 1.5rem 1.5rem 2.5rem 1.5rem;
        @include v.flexDirection(column);
        align-items: flex-start;
        gap: 1rem;
    }
        &:last-of-type{
        margin-bottom: 2.5rem;
    }
}

.title{
    @include v.fonts(v.$FStitle, v.$FWtitle,v.$Ctext);
}

.create{
    @include v.designedBtn;
    width: 40.5rem;
    height: 3.625rem;
    align-self: center;
    padding: 0.625rem;
}
