@use '@/styles/global.scss' as *;

.listSection {
  padding: 20px;
}

.listSection>h2 {
  font-weight: 800;
  font-size: 1.5rem;

  @include flexCenter;
  margin-bottom: 2rem;
}

.cancelBtn {
  cursor: pointer;
  color: #fff;
  font-family: 'JejuStoneWall';
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  border-radius: 1rem;
  background: #DDD;
  border: none;
  text-shadow: -0.5px -2px #818181;
  width: 7rem;
  height: 3.6rem;
  font-size: 1.1rem;

}

.modifyBtn {
  cursor: pointer;
  color: #fff;
  font-family: 'JejuStoneWall';
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  border-radius: 1rem;
  background: #99C08E;
  border: none;
  text-shadow: -0.5px -2px #578246;
  width: 18.5rem;
  height: 3.6rem;
  font-size: 1.1rem;
}

.underlineList {
  @include flexCenter;
  flex-direction: column;
  text-decoration: underline #818181;
}



.underlineList {
  text-decoration: underline #818181;
}



.modalBtnWrapper {
  @include flexCenter;
  margin: 1rem 0;
  gap: 5px;
}

.frameBtnWrapper {
  @include flexCenter;
  margin-bottom: 10px;
}

.frameBtn {
  width: 25rem;
  height: 3.35rem;
  border-radius: 1.25rem;
  font-weight: 700;
  font-size: 20px;
  background-color: #fff;
  cursor: pointer;
}

.inputBtn {
  @include flexCenter;
  border: 2px solid #578246;
  outline: none;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #818181;
  width: 25rem;
  height: 3.35rem;
  border-radius: 1.25rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.pauseMessage {
  @include flexCenter;
  height: 2.9375rem;
  width: 17rem;
  background-color: #fde0e9;
  border-radius: 1rem;
  color: #f50e0e;
  font-weight: 500;
}

.pauseMeassageWrapper {
  @include flexCenter;
  margin-top: 2rem;
}

@include tablet {
  .listSection {
    padding: 2.5rem 4rem;
  }

  .modifyBtn {
    width: 18rem;
  }
}


@include mobile {
  .listSection {
    padding: 2.5rem 1rem;
  }

  .cancelBtn {
    width: 4rem;
  }

  .modifyBtn {
    width: 10rem;
  }

  .frameBtn,
  .inputBtn {
    width: 14rem;
    margin-right: 30px;
  }

  .underlineList {
    margin-right: 30px;
  }

  .modalBtnWrapper {
    margin-right: 30px;
  }

  .pauseMeassageWrapper {
    margin-top: 4rem;
  }

}